@using Microsoft.AspNetCore.Components.Rendering
@using SharpCompress.Common
@inherits MudBlazor.Extensions.Components.Base.MudExJsRequiredBaseFormComponent<MudExRichTextEdit, string, string>
@inject IJSRuntime JsRuntime

<div class="@ClassStr()" style="@StyleStr()">
    <div style="@ToolBarStyleStr()" @ref="@ToolBar">
        <div class="@ToolBarClassStr()">
            @RenderToolbar()
        </div>
    </div>

    <MudInputControl Error="@HasErrors" ErrorText="@GetErrorText()" Style="margin-top: 0;" Required="@Required">
        <InputContent>
            <div style="@EditorStyleStr()" @ref="@ElementReference">
                @if (EditorContent != null)
                {
                    @EditorContent
                }
            </div>
        </InputContent>
    </MudInputControl>
</div>


@code {

    private RenderFragment RenderToolbar() => ToolbarContent ?? @DefaultToolBar;

    private void DefaultToolBar(RenderTreeBuilder __builder)
    {
        <select class="ql-header">
            <option selected=""></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>

        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            <select class="ql-align">
                <option selected=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>

        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
        <button class="ql-divider"></button>

        <span class="ql-formats">
            <button class="ql-link"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-image"></button>
            @*<button ><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Image"></MudIcon></button>*@
        </span>
    }
}
