@using Microsoft.AspNetCore.Components.Rendering
@using MudBlazor.Extensions.Core
@using MudBlazor.Extensions.Helper
@using SharpCompress.Common
@inherits MudBlazor.Extensions.Components.Base.MudExJsRequiredBaseFormComponent<MudExRichTextEdit, string, string>
@inject IJSRuntime JsRuntime


@if (_sourceLoaded)
{
    <div class="@ClassStr()" style="@StyleStr()">
        <div style="@ToolBarStyleStr()" @ref="@ToolBar">
            <div class="@ToolBarClassStr()">
                @RenderToolbar()
            </div>
        </div>

        <MudInputControl Error="@HasErrors" ErrorText="@GetErrorText()" Style="margin-top: -1px;" Required="@Required">
            <InputContent>
                <div style="@EditorStyleStr()" @ref="@ElementReference">
                    @if (EditorContent != null)
                    {
                        @EditorContent
                    }
                </div>
            </InputContent>
        </MudInputControl>
    </div>
}
else
{
    <div class="m-2 box" style="@MudExStyleBuilder.Default.WithHeight(Height ?? 0, Height.HasValue).WithSkeletonLoadingBorder(3).Build()">
        <MudToolBar>
            <MudSkeleton Class="m-1" Style="margin-bottom: 15px !important;" Animation="Animation.Wave" Width="90px" />
            @SkeletonButtons(4)
            @SkeletonButtons(2)
            @SkeletonButtons(5)
            @SkeletonButtons(2)
            @SkeletonButtons(4)
            @SkeletonButtons(1)
        </MudToolBar>

        <MudSkeleton Class="m-3" Animation="Animation.Wave" />
        <MudSkeleton Class="m-3" Animation="Animation.Wave" Width="40%" />
        <MudSkeleton Class="m-3" Animation="Animation.Wave" Width="60%" />
        <MudSkeleton Class="m-3" Animation="Animation.Wave" />

    </div>
}

@code {

    private RenderFragment RenderToolbar() => ToolbarContent ?? @DefaultToolBar;

    private RenderFragment SkeletonButtons(int count)
    {
        return @<p style="display: flex;" class="ml-2">
            @for (var i = 0; i < count; i++)
            {
                <MudSkeleton Class="m-1" Style="margin-right: 2px !important;" SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="24px" Width="24px"/>
            }
        </p>;
    }

    private void DefaultToolBar(RenderTreeBuilder __builder)
    {
        <span class="ql-formats">
            <select class="ql-header">
                <option selected=""></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            <select class="ql-align">
                <option selected=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-blockquote"></button>
            <button class="ql-code-block"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-video"></button>
            <QuillToolButton OnClick="@AttachFilesAsync" Icon="@Icons.Material.Filled.AttachFile" Tooltip="@TryLocalize("Insert file")"></QuillToolButton>

            @*<button ><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Image"></MudIcon></button>*@
        </span>
        <span class="ql-formats">
            @if (_recording)
            {
                <QuillToolButton OnClick="@StopRecording" Color="@Color.Warning" Icon="@Icons.Material.Filled.Stop" Tooltip="@TryLocalize("Stop recording")"></QuillToolButton>
            }
            else
            {
                <QuillToolButton OnClick="@StartRecording" Icon="@Icons.Material.Filled.Mic" Tooltip="@TryLocalize("Start recording")"></QuillToolButton>
            }
        </span>
    }
}

